
.idea/copyright/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/web.iml
.idea/workspace.xml
.idea/

m.huzhu.com/application/cache/*
a.huzhu.com/application/cache/*
www.huzhu.com/application/cache/*